header nav {
  @include nav;

  .nav-div {
    float: left;
  }
}

header .nav-div {
  width: 25%;
}

.nav-div {
  text-align: center;

  &:hover > ul {
    display: block;
  }
}

ul {
  display: none;
}