header nav {
  @include nav;
  clear: both;
  overflow: hidden;

  .nav-div {
    float: left;
  }
}

.nav-div {
  text-align: center;
  width: 25%;

  &:hover > ul {
    display: block;
  }
}

ul {
  display: none;
}